@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");

/* $ASS Variables */

$textclr: #202020;

/* Reset Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

/* Global Styles */

body {
  color: $textclr;
}

/* Section Styles */

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/Images/veggies.jpg);
  background-size: cover;
}

/* Box Class Styles */

.input-box {
  position: relative;
  padding: 50px;
  width: 360px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* Form Styles */

.form-box {
  position: relative;
  width: 100%;

  h2 {
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 20px;
  }
}

/* Input Box Styles */

.inputBx {
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  input {
    width: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    padding: 8px 10px;
    padding-left: 35px;
    border-radius: 6px;
    color: $textclr;
    font-size: 1rem;

    &::placeholder {
      color: #686868;
    }
  }

  i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $textclr;
  }

  input[type="submit"] {
    position: relative;
    transition: all 0.2s ease-in-out;
    background: #202020;
    color: white;
    width: 100%;
    padding: 8px 10px;
    box-shadow: none;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;

    &:active {
      top: 2px;
    }
  }
}

/* Remeber me checkbox Styles */

[type="checkbox"] {
  opacity: 0;
  margin-left: -15px;
  margin-top: 10px;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
}

[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  outline: 1px solid #ccc;
  background: #fff;
}

[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  outline: none;
  background: rgb(19, 155, 19);
}

[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url(/Images/checkmark.png);
  background-size: contain;
  transform: scake(1);
  opacity: 1;
  transition: all 0.3s ease;
}

[type="checkbox"]:not(:checked) + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url(/Images/checkmark.png);
  background-size: contain;
  transform: scale(0);
  opacity: 0;
}

/* Seperator Styles */

.seperator {
  border-top: 1px solid #7a7a7a;
  position: relative;
  margin: 25px 0 10px;
  text-align: center;
}

.text-seperator {
  background: #ffffff;
  padding: 0 0.5em;
  position: relative;
  color: #202020;
  top: -0.7rem;
}

.account-create {
  position: relative;
  width: 100%;
  background: rgb(19, 155, 19);
  display: block;
  border: 0;
  color: white;
  transition: all 0.2s ease-in-out;
  padding: 10px 10px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 6px;
}

.return {
  position: relative;
  width: 100%;
  display: block;
  border: 0;
  color: #ffffff;
  background: #202020;
  transition: all 0.2s ease-in-out;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 6px;
}

.next {
  position: relative;
  width: 100%;
  display: block;
  border: 0;
  color: #ffffff;
  background: rgb(19, 155, 19);
  transition: all 0.2s ease-in-out;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 6px;
}
