@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
/* $ASS Variables */
/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

/* Global Styles */
body {
  color: #202020;
}

/* Section Styles */
#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-image: url(/Images/veggies.jpg);
  background-size: cover;
}

/* Box Class Styles */
.input-box {
  position: relative;
  padding: 50px;
  width: 360px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* Form Styles */
.form-box {
  position: relative;
  width: 100%;
}

.form-box h2 {
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.form-box p {
  margin-bottom: 20px;
}

/* Input Box Styles */
.inputBx {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.inputBx input {
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  padding: 8px 10px;
  padding-left: 35px;
  border-radius: 6px;
  color: #202020;
  font-size: 1rem;
}

.inputBx input::-webkit-input-placeholder {
  color: #686868;
}

.inputBx input:-ms-input-placeholder {
  color: #686868;
}

.inputBx input::-ms-input-placeholder {
  color: #686868;
}

.inputBx input::placeholder {
  color: #686868;
}

.inputBx i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #202020;
}

.inputBx input[type="submit"] {
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #202020;
  color: white;
  width: 100%;
  padding: 8px 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}

.inputBx input[type="submit"]:active {
  top: 2px;
}

/* Remeber me checkbox Styles */
[type="checkbox"] {
  opacity: 0;
  margin-left: -15px;
  margin-top: 10px;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
}

[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  outline: 1px solid #ccc;
  background: #fff;
}

[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  outline: none;
  background: #139b13;
}

[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url(/Images/checkmark.png);
  background-size: contain;
  -webkit-transform: scake(1);
          transform: scake(1);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

[type="checkbox"]:not(:checked) + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url(/Images/checkmark.png);
  background-size: contain;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

/* Seperator Styles */
.seperator {
  border-top: 1px solid #7a7a7a;
  position: relative;
  margin: 25px 0 10px;
  text-align: center;
}

.text-seperator {
  background: #ffffff;
  padding: 0 0.5em;
  position: relative;
  color: #202020;
  top: -0.7rem;
}

.account-create {
  position: relative;
  width: 100%;
  background: #139b13;
  display: block;
  border: 0;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px 10px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
}

.forgot {
  margin-bottom: 20px;
}

.return {
  position: relative;
  width: 100%;
  display: block;
  border: 0;
  color: #ffffff;
  background: #202020;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 6px;
  margin-top: 20px;
}

.next {
  position: relative;
  width: 100%;
  display: block;
  border: 0;
  color: #ffffff;
  background: #139b13;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 6px;
  margin-bottom: 40px;
  margin-top: 20px;
}

/* Create account section */
[type="radio"] {
  opacity: 0;
}

[type="radio"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
}

[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 18px;
  left: 0;
  top: 0;
  height: 18px;
  border-radius: 100%;
  border: 2px solid green;
}
/*# sourceMappingURL=mainstyles.css.map */